html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgrey;
  }
.box {
    width: 100%;
    height: 50px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.container {
    display: flex;
    gap: 0;
  }
.box2, .box3, .box4, .box5, .box6 {
    text-align: center;
  }
.box2, .box3 {
    height: auto;
    font-size: 22px;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    padding: 0;
  }
.gap {
  width: 100%;
  height: 15px;
  }
.gap2 {
  width: 100%;
  height: 300px;
  }
.projectgap {
  margin: 3px 0;
  width: 100%;
  height: 1px;
  background-color: black;
  }
.box2 {
    width: 30%;
    background-image: "Headshot3.jpg";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
.box3 {
    width: 70%;
    
  }
.container2 {
    display: flex;
    gap: 0;
  }
.box4, .box5, .box6 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
  }
.box4 {
  width: 50%;
  }
.box5 {
    width: 25%;
  }
.box6 { 
    width: 25%;
  }
.button1, .button2 {
    top: 10%;
    left: 42%;
    width: 80px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    border: none;
    background-color: lightgrey;
  }
.button1:hover, .button2:hover {
  text-decoration: underline;
  }
.button2 {
    left: 52%;
  }
.project1container {
  display: flex;
  gap: 0;
  }
.projectbox1, .projectbox2 {
  height: auto;
  }
.projectbox1 {
  width: 30%;
  }
.projectbox2 {
  width: 70%;
  margin-left: 10px;
  font-size: 20px;
  }
.box7 {
  width: 33%;
  }
